<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
	<h1>ORDERS</h1>
      <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{years[yearIndex]}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="year in years"><a ng-click="setYear($index)">{{year}}</a></li>
          </ul>
        </div>

        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{months[monthIndex]}}
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li ng-repeat="month in months"><a ng-click="setMonth($index)">{{month}}</a></li>
          </ul>
        </div>
      </div>
      <button ng-click=getOrders()>Submit</button>
	<hr>
    <div class="row">
        <div ng-repeat="o in orders">
            {{o}}
            <hr>
        </div>
    </div>
</div>
<div ng-include="'components/footer/footer.html'"></div>
