<form class="form" name="form" ng-submit="changePassword(form)" novalidate>
  <h3>CHANGE PASSWORD</h3>
  <hr>

  <div class="form-group">
    <label>Current Password *</label>
    <input type="password" name="password" class="form-control" ng-model="user.oldPassword" mongoose-error required/>
    <p class="help-block" ng-show="form.password.$error.mongoose">
      {{ errors.other }}
    </p>
    <p class="help-block" ng-show="form.password.$error.required && form.$submitted">
      Password is required
    </p>
  </div>

  <div class="form-group">
    <label>New Password *</label>
    <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword"
    ng-minlength="8"
    required/>
    <p class="help-block"
      ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || form.$submitted)">
      New password must be at least 8 characters.
    </p>
  </div>

  <div class="form-group">
    <label>Confirm New Password *</label>
    <input type="password" name="confirmpassword" class="form-control" ng-model="user.confirmpassword" ng-minlength="3" ui-validate=" '$value == user.newPassword' " ui-validate-watch=" 'user.newPassword' " required/>
    <p class="help-block" ng-show="(form.confirmpassword.$error.required) && form.$submitted">
      Please confirm your password.
    </p>
    <p class="help-block" ng-show="(!form.confirmpassword.$error.required && form.confirmpassword.$error.validator) && form.$submitted">
      Password does not match.
    </p>
  </div>

  <p class="help-block"> {{ message }} </p>

  <button class="btn btn-primary" type="submit">Save changes</button>
</form>