a{
	letter-spacing: .00005em;
}

h4 small{
	font-weight:300;
	letter-spacing: 1.5px;
}
.btnlogin{
  border-radius: 0px;
  color: #ee524a;
  font-size:20px;
  font-weight: 300;
}

.btn-primarylogin{
	border-color:transparent; 
}
