<!-- <div ng-include="'components/navbar/navbar.html'"></div> -->
<div class="header2"> 
  <div class="containermod text-left">
    <div class="row">
      <div class="col-sm-4">
      <ul class="list-inline apparelpadding">
        <li>
          <a href="/"><img class="img" src="assets/images/logowhite.png" width="25" height="" alt="BLUR"></a>
        </li> 
        <li style="padding-left:10px">
          <a>APPAREL OUTLET</a> 
        </li>
      </div>
    </ul>
      <div class="col-sm-4 text-center" style="padding-top:5px">
        <a style="color:#fff;font-size:24px;font-weight:400">BLINK URBAN</a>
      </div>
      <div class="col-sm-4">
        <ul class="nav navbar-nav navbar-right ngAnimate" style="color:white">
          <li class="hvr-underline-reveal" ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')} "><a href="/login">LOGIN / JOIN</a></li>

          <li ng-show="isLoggedIn()" dropdown on-toggle="toggled(open)">
            <a href id="user-dropdown" dropdown-toggle >ACCOUNT <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="user-dropdown">
              <li><a href="/settings/profile">Profile</a></li>
            </ul>
          </li>
          <li class="hvr-underline-reveal" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
            <a href="" ng-click="logout()">SIGN OUT</a>
          </li>
          <li>
            <div class="container-2">
                <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
                <form name="form" ng-submit="form.$valid && search()" novalidate>
                  <input type="text" ng-model="searchQuery" id="search" class="search-form" placeholder="Search..." name="searchQuery" required/>
                </form> 
            </div>       
          </li>        
          <li class="hvr-underline-reveal"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
        </ul>     
      </div>
    </div>

  </div>
</div>
<!-- <div class="loginseparator"></div> -->
<div style="padding-top:10px"></div>
<div class="container">
  <div class="row">

    <div class="col-sm-6">
      <div class="col-xs-12 col-md-8 col-md-offset-2 content-block">
        <div class="login">
          <h2 class="loginheader"><strong>NEW CUSTOMERS</strong></h2>
          <a>Create an account to transform your online experience!</a>    
          <form action="/signup" class="formpadding text-center" method="get">
              <input type="submit" value="SIGN UP"/>
          </form>          
        </div>
      </div>
    </div>

    
    <div class="col-sm-6 border-left">
<!--       <br></br> -->
      <div class="col-xs-12 col-md-8 col-md-offset-2 content-block">
        <div class="text-left"> 
          <form class="form formpadding" name="form" ng-submit="login(form)" novalidate>
            <br></br>
            <a><strong>Log in</strong> to enhance the shopping experience!</a>
            <div class="login">
              <label class="formpadding">EMAIL ADDRESS:</label>
              <input type="email" name="email" ng-model="user.email" required>
              <label>PASSWORD:</label>
              <input type="password" name="password" ng-model="user.password" required>

              <div class="has-error">
                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                   Please enter your email and password.
                </p>
                <p class="help-block" ng-show="form.email.$error.email && submitted">
                   Please enter a valid email.
                </p>

                <p class="help-block">{{ errors.other }}</p>
              </div>
              <input type="submit" value="LOGIN"> 
            <div><a href="" class="text-center">Forgot your password?</a>
            </div> 
            </div>                          
          </form>        
          <h2 class="loginheader text-right"><strong>EXISTING CUSTOMERS</strong></h2>          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="loginseparatorbottom"></div> -->
<div ng-include="'components/footer/footer.html'"></div>