<footer class="footer">
    <div class="container">
        <div class="row">
          <div class="col-xs-3">
            <h4>COMPANY</h4>
            <ul class="list-unstyled">
              <li><a href="/resources/about">ABOUT US</a></li>
              <li><a href="/resources/commitment">OUR COMMITMENT</a></li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h4>HELP</h4>
            <ul class="list-unstyled">
              <li><a href="/resources/contact">CONTACT US</a></li>
              <li><a href="/resources/faq">FAQs</a></li>
              <li><a href="/resources/shipping">SHIPPING INFO</a></li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h4>FOLLOW US</h4>
            <ul class="list-unstyled">
            </ul>
          </div>
        </div>
      </div> 
    </footer>