<footer class="footer" ng-controller="FooterCtrl">
    <div class="container">
      <div class="footerborder"></div>
        <div class="row">
          <div class="col-xs-3">
            <h4>COMPANY</h4>
            <ul class="list-unstyled">
              <li ng-repeat="item in company">
                <a ng-href="{{item.link}}">{{item.title}}</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h4>HELP</h4>
            <ul class="list-unstyled">
              <li ng-repeat="item in help">
                <a ng-href="{{item.link}}">{{item.title}}</a>
              </li>
            </ul>
          </div>
          <div class="col-xs-3">
            <h4>FOLLOW US</h4>
            <ul class="list-unstyled">
              <li>
                <a class="btn-twitter" href="https://twitter.com/BlinkUrban"><i class="fa fa-twitter">Twitter</i></a>
              </li>
              <li>
                <a href="https://facebook.com/BlinkUrban"><i class="fa fa-facebook-official"></i> facebook</a>
              </li>
              <li>
                <a href="https://instagram.com/BlinkUrban"><i class="fa fa-instagram">Instagram</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container  footerborder2 text-right">&copy; 2015 Blink Urban. All rights reserved</div> 
    </footer>