<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-sm-6 nopaddingright">
			<div style="width:100%;height:350px;background-color:#222;margin-bottom:30px">	
				<h2 class="text-center" style="color:#f5f5f5;margin:0px"><strong>Our Main Collection</strong></h2>
			</div>		
		</div>
		<div class="col-sm-6 nopaddingleft">
			<div style="width:100%;height:350px;background-color:#f5f5f5;margin-bottom:30px"></div>			
		</div>
	</div>

	<div class="row">
		<div class="col-sm-3">

			<div class="sidebar">
				<h4><strong>FEATURED</strong></h4>
				<ul class="nav nav-sidebar">
					<li><a href="">New Arrivals</a></li>
					<li><a href="">Spring Collections</a></li>
					<li><a href="">Clearance</a></li>
				</ul>
			</div>

			<div ng-repeat="category in categories">
				<h4><strong>{{category.name | uppercase}}</strong></h4>
				<ul class="nav nav-sidebar">
					<li ng-repeat="type in category.types track by $index"><a ng-href="/apparel/{{type}}">{{type}}</a></li>
				</ul>
			</div>

		</div>
		<div class="col-sm-9">
			<div style="width:100%;height:400px;background-color:grey;margin-bottom:30px;"></div>
			<div style="width:100%;height:400px;background-color:grey;margin-bottom:30px;"></div>
			<div style="width:100%;height:400px;background-color:grey;margin-bottom:30px;"></div>
			<div style="width:100%;height:400px;background-color:grey;margin-bottom:30px;"></div>
		</div>
	</div>
</div>
			

<div ng-include="'components/footer/footer.html'"></div>