<div class="navbar navbar-custom navbar-static-top" ng-controller="NavbarCtrl">
    <div class="text-right header-social">OUR DEDICATION TO THE ONLINE FASHION EXPERIENCE</div>
  <div class="container navbar-customborder">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!-- <a href="/main/main.html" class="navbar-brand">BL.UR</a> -->
      <a href="/"><img class="img-rounded" src="assets/images/brand.png" width="120" height="50" alt="BLUR"></a>
    </div>  
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav somepadding">
        <li dropdown on-toggle="toggled(open)">
          <a dropdown-toggle>APPAREL</a>
          <ul class="dropdown-menu">
            <li>For Men:</li>
            <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                <a ng-href="{{item.link}}">{{item.title}}</a>
            </li>
          </ul>  
        </li>
<!--         <li><a>|</a></li> -->
        <li><a href="#">RUNWAY</a></li>
<!--         <li><a>|</a></li> -->
        <li><a href="#">MAGAZINE</a></li>             
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}" dropdown on-toggle="toggled(open)">
          <a href id="admin-dropdown" dropdown-toggle>ADMIN<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="admin-dropdown">
            <li><a href="/admin/users">MANAGE USERS</a></li>
            <li><a href="/admin/items">MANAGE ITEMS</a></li>
          </ul>
        </li>
      </ul>
      

      <ul class="nav navbar-nav navbar-right ngAnimate">
       <li><input ng-model="query" ng-hide="clickedsearch" class="ng-hide search-form" type="text" placeholder="Search for..."></li>

       <li ng-show="clickedsearch" ng-click="clickedsearch=false"><a id="searchicon" style="display: block" href=""><span id="myList" class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
        
       <!--  <li ng-hide="clickedsearch" <a class="nopadding"><input id="searchfield" style="display:none" type="text" class="search-form" placeholder="Search for..."></a></li> -->

        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">LOGIN</a></li>

        <li ng-show="isLoggedIn()" dropdown on-toggle="toggled(open)">
          <a href id="user-dropdown" dropdown-toggle >Hey {{ getCurrentUser().name }}<span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="user-dropdown">
            <li><a href="/settings">CHANGE PASSWORD</a></li>
          </ul>
        </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a href="" ng-click="logout()">LOGOUT</a>
        </li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
      </ul>  
    </div>
  </div>
</div>
