<nav class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">

  <div class="text-right header-social">
    <div class="container">
      <p>"<!-- OUR DEDICATION TO THE ONLINE FASHION EXPERIENCE -->"</p>
    </div>
<!--     <div class="container">
          <form name="form" ng-submit="form.$valid && search()" novalidate>
            <input ng-model="searchQuery" class="search-form1" type="text" name="searchQuery" placeholder="Search for..." required>
          </form>
    </div> -->
  </div>

  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"><img class="img" src="assets/images/brand.png" width="120" height="" alt="BLUR"></a>
    </div>
    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <!--
        <li class="dropdown">
          <a href="/apparel" role="button" aria-haspopup="true" aria-expanded="false">APPAREL</a>
          
          <ul class="dropdown-menu">
            <div class="container">
              <div class="row">
                <div class="col-sm-2">
                  <h5><strong>FEATURED</strong></h5>
                  <li role="separator" class="divider"></li>
                  <li><a href=""><strong>New Arrivals</strong></a></li>
                  <li><a href=""><strong>Spring Collections</strong></a></li>
                  <li><a href=""><strong>Clearance</strong></a></li>
                </div>
                <div class="col-sm-2">
                  <h5><strong>TOPS</strong></h5>
                  <li role="separator" class="divider"></li>
                  <li><a href="">Hoodies</a></li>
                  <li><a href="">T-Shirts</a></li>
                  <li><a href="">Shirts</a></li>
                  <li><a href="">Polos</a></li>
                  <li><a href="">Sweaters</a></li>
                </div>
                <div class="col-sm-2">
                  <h5><strong>BOTTOMS</strong></h5>
                  <li role="separator" class="divider"></li>
                  <li><a href="">Hoodies</a></li>
                  <li><a href="">T-Shirts</a></li>
                  <li><a href="">Shirts</a></li>
                  <li><a href="">Polos</a></li>
                  <li><a href="">Sweaters</a></li>
                </div>
                <div class="col-sm-2">
                  <h5><strong>ACCESSORIES</strong></h5>
                  <li role="separator" class="divider"></li>
                  <li><a href="">Hoodies</a></li>
                  <li><a href="">T-Shirts</a></li>
                  <li><a href="">Shirts</a></li>
                  <li><a href="">Polos</a></li>
                  <li><a href="">Sweaters</a></li>
                </div>
                
                <div class="col-sm-2">
                  <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-href="{{item.link}}">{{item.title}}</a>
                  </li>
                </div>
              
              </div>
            </div>
          </ul> 
        </li> -->
        <li class="hvr-underline-reveal"><a href="/apparel">APPAREL</a></li>
        <li class="hvr-underline-reveal"><a href="/">RUNWAY</a></li>
        <li class="hvr-underline-reveal"><a href="/">MAGAZINE</a></li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}" dropdown on-toggle="toggled(open)">
          <a href id="admin-dropdown" dropdown-toggle>ADMIN<span class="caret "></span></a>
          <ul class="dropdown-menu" aria-labelledby="admin-dropdown">
            <li><a href="/admin/users">MANAGE USERS</a></li>
            <li><a href="/admin/items">MANAGE ITEMS</a></li>
            <li><a href="/admin/category">MANAGE CATEGORIES</a></li>
          </ul>
        </li>
        
      </ul>

      <ul class="nav navbar-nav navbar-right ngAnimate">
<!--        <li>
          <form name="form" ng-submit="form.$valid && search()" novalidate>
            <input ng-model="searchQuery" class="search-form" type="text" name="searchQuery" placeholder="Search for..." required>
          </form>
       </li>   -->
       <!-- This creates icon search function  -->    
<!--        <li>
          <form name="form" ng-submit="form.$valid && search()" novalidate>
            <input ng-model="searchQuery" ng-hide="clickedsearch" class="ng-hide search-form" type="text" name="searchQuery" autofocus placeholder="Search for..." required>
          </form>
       </li>  
       <li ng-show="clickedsearch" ng-click="clickedsearch=false"><a id="searchicon" style="display: block" href=""><span id="myList" class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li> -->
        <li class="hvr-underline-reveal" ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')} "><a href="/login">LOGIN / JOIN</a></li>

        <li ng-show="isLoggedIn()" dropdown on-toggle="toggled(open)">
          <a href id="user-dropdown" dropdown-toggle >ACCOUNT <span class="caret"></span></a>
          <ul class="dropdown-menu" aria-labelledby="user-dropdown">
            <li><a href="/settings/profile">Profile</a></li>
          </ul>
        </li>
        <li class="hvr-underline-reveal" ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a href="" ng-click="logout()">SIGN OUT</a>
        </li>
        <li>
  <div class="container-2">
      <span class="icon glyphicon glyphicon-search" aria-hidden="true"></span>
      <form name="form" ng-submit="form.$valid && search()" novalidate>
        <input type="text" ng-model="searchQuery" id="search" class="search-form" placeholder="Search..." name="searchQuery" required/>
      </form> 
  </div>       
</li>        
        <li class="hvr-underline-reveal"><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></a></li>
      </ul>

    </div><!--/.nav-collapse -->
  </div>
</nav>


