.thing-form {
    margin: 20px 0;
}

.lead {
    color:black;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: white;
}

.welcomemessage {
    position: absolute;  z-index: 1; top: 100px; left: 180px; width:300px;
    font-size:50px;
    color: black;
    background-color: white;
    font-family: 'Schoolbell';
}
.welcomemessage1{
    font-size:20px;
}

p{
    margin: 0;
}

.navbar-text {
    margin-left: 15px;
}