.frontbanner{
  background-image: url(/assets/images/frontbanner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height:655px;
  width: auto;
  position: relative;
  display: block;
  overflow: hidden;
  max-width: 100%;
}


/*BLOG CSS*/
  .image {
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -ms-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
    display: inline-block;
    max-width: 100%;
    height: 300px;
  }

    .image:hover {
      opacity: 0.9;
    }

    .image img {
      display: block;
      width: 100%;
    }

    .image.fit {
      display: block;
      width: 100%;
    }

    .image.featured {
      display: block;
      width: 100%;
      margin: 0 0 3.5em 0;
    }

    .image.left {
      float: left;
      margin: 0 1.5em 1.5em 0;
      position: relative;
      top: 0.5em;
    }

    .image.centered {
      display: block;
      margin: 0 0 2em 0;
    }

      .image.centered img {
        margin: 0 auto;
        width: auto;
      }

/*BLOG CODE*/

.blogstuff{
  padding:0px;
}

.blogstuff1{
  border: 1px solid #e6e6e6;
  border-radius: 2px;
  margin:10px;  
}

.blogstuff1 h4{
  color:#000; 
}

.blogpanel{
  padding:20px;
  height:420px;   /*#this is where you change the height of the paragraph to make it consistent*/ 
}

.blogpanel p{
  font-size:14px;
}
.panel-header{
  padding:0px;
  padding-bottom: 8px;
  margin: 0px;
  border-bottom:1px solid #e6e6e6;
  margin-bottom: 10px;
}

.blogbutton{
  padding:10px 20px 10px 20px;
}
.blogbutton a{
  color:#2a6496;
  padding-top:8px;
}
.blogbutton:before {
    content: "";
    border-top: 1px solid #e6e6e6;
    display: block;
    margin-bottom: 10px;
}

/*.image{
  width;
  margin-bottom: 15px;
  text-align: center;
  max-width: 100%;
}*/

/*END OF BLOG CODE*/

.qualitysection{
  background-color: #f1f1f1;
  height: 100px;
}

.qualitysection1{
  background-color: #f1f1f1;
  height: 200px;
}

.qualitysection1 span{
  position: relative;
  display: block;
  max-width: 500px;
  z-index:1;
  left:35%;
  top:25%;  
}

.qualitysection1 a{
  color:#222;
  font-size: 70px;  
  font-weight: 400;
  background-color: #999;
  padding:30px;
  border-radius: 15px;
  opacity: 60%;
  box-shadow: 2px 2px 2px 2px #444;
}

.welcomemessage h1{
  margin:0;
  height:75px;
}

.containermain{
  margin-left:13%;
  margin-right:13%;
}

/*INSTAGRAM CSS*/
.igsection{
  padding:25px;
  background-color: #333;
  color: #fff;
  width: 100%
}

.igsection h1{
  padding-bottom:20px;
}