.border-top{
    border-top: 1px solid #eee;
}

.product-color label{
    cursor: pointer;
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px !important;
    background-clip: content-box;
}


.product-color{
    display: block;
    width:35px;
    height:35px;
    cursor: pointer;
    padding: 0px !important;
    margin-bottom: 5px;
    overflow: hidden;
}

.product-color:hover{
    border: 1px solid #333;
}

.selected {
    border: 1px solid #333 !important;
}

.product-size{
    display: block;
    width:35px;
    height:35px;
    padding: 6px 0 6px 0 !important;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #e4e4e4;
    font-size: 80%;
    color:#000; 
}

.product-size:hover{
    border: 1px solid #333;
}

.product-size label{
    padding-left: 0px !important;
    width: 100%;
    height: 100%;
}

.unavailable{
    opacity: 0.3;
}


/*Product listing*/

.productlisting{
    background-color: #F2EFE6;
    width: 100%;
    top:0;
    bottom:0;
    right:0;
    display: block;
    float: left;
    height:50vw; 
    overflow: hidden;   
    padding:40px;
}

.productheader h1{
    color:#000;
    font-weight: 500;
    font-size: 50px;
    margin:0px;
    padding-top:3vw;
    padding-bottom:2px;
}

.productheader{
    text-align: right;
    padding-right: 2%;  
}

.productunderline{
    width:25%;
    margin-left: 75%;
    padding-top:0px;
}

.productinfo h2{
    font-size: 40px;
    margin: 0;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1em;
    color:#000;
}

.productinfo h3{
    margin-top:10px;
    color:#000; 
}

.productinfo {
    max-width:450px;
    padding:15% 0 0 0; /*changed from 20 to 15 from 736px*/
}

.productinfo p{
    font-size: 16px;
    letter-spacing: -.7px;
    font-weight: 100;
    margin:0px;
    color:#000;
}

.productinfo small{
    color:#000  ;
}

.cartbutton{
    margin-top: 20px;
    border:0;
    padding: 10px 20px 10px 20px;
    color:#000; 
}

.productinfo ul{
    margin:0px;
}

.row > div > img { 
    width: 100%; 
    display: block; 
}


.apparel-sidebar li{
    font-size:14px;
    margin: 0 0 5px 0;
}

.apparel-sidebar h4{
    padding-top: 15px;
    padding-bottom:10px;

}

.apparel-sidebarheader{
    padding-bottom: 5px;
}

.product-image {
    position: relative;

}
.product-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
    height:50vw; 
}

.productimglist img:hover{
    opacity: 0.5;
}

.productimglist img{
    height:16.666666vw;
    width:16.6666666vw;
    cursor:pointer;
}

.product-image p img{
    height:3vw;
    width:3vw;
    cursor:pointer;
}

.modal-dialog {
    width: 70% !important; /* respsonsive width */
}

.maximizeImg{
    position: absolute; 
    visibility: hidden;
    opacity: 0;
    bottom: 0;
    right: 0;    
    height: 3.5em;
    font:30px;
    font-weight: 500;
    background-color: white;
}

.product-image:hover .maximizeImg{
    visibility: visible;
    opacity: 1;    

}
