
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<div style="height: 305px">
			    <carousel interval="myInterval" no-wrap="noWrapSlides">
			      <slide ng-repeat="slide in slides" active="slide.active">
			        <img ng-src="{{slide.image}}" style="margin:auto;">
			        <div class="carousel-caption">
			          <h4>Slide {{$index}}</h4>
			          <p>{{slide.text}}</p>
			        </div>
			      </slide>
			    </carousel>
			</div>
		</div>
		<div class="col-xs-12 col-md-4 product-form">
			<form>
				<h2>{{product.name}}</h2>
				<h3>{{product.price | currency:"$"}}</h3>
				<fieldset class="border-top">
					<h4><small>COLOR: {{orderColor}}</small></h4>
					<ul class="list-unstyled list-inline">
						<li class="product-color" ng-repeat="metric in product.metrics | unique:'colorhex' " ng-class="{selected: $index == selectedColorIndex}">
							<label class="radio-inline" for="color-{{metric.colorhex}}-{{$index}}" ng-style="{'background-color': '#' + metric.colorhex}">
								<input type="radio" id="color-{{metric.colorhex}}-{{$index}}" name="color" ng-model="$parent.orderColor" ng-click="selectColor($index)" ng-value="metric.colorname" class="ng-hide">
							</label>
						</li>
					</ul>
				</fieldset>
				<fieldset class="border-top">
					<h4><small>SIZE: {{orderSize}}</small></h4>
					<ul class="list-unstyled list-inline">
						<li class="product-size" ng-repeat="metric in product.metrics | unique:'size'" ng-class="{selected: $index == selectedSizeIndex, unavailable: hasSize(metric.size)}">
							<label class="radio-inline text-center" for="size-{{metric.size}}-{{$index}}">{{metric.size}}
								<input type="radio" id="size-{{metric.size}}-{{$index}}" name="size" ng-disabled="hasSize(metric.size)" ng-model="$parent.orderSize" ng-click="selectSize($index)" ng-value="metric.size"class="ng-hide">
							</label>
						</li>
					</ul>
				</fieldset>
				<button class="btn btn-primary form-control">ADD TO CART</button>

				<h2>Description</h2>
				<p>{{product.description}}</p>

				<ul class="list-unstyled">
					<li ng-repeat="style in product.styles">- {{style}}</li>
				</ul>

			</form>
			

		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>