
<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-8">
			
		</div>
		<div class="col-xs-12 col-md-4 product-form">
			<form class="form" name="form" novalidate ng-submit="form.$valid && submit()">
				<h2>{{product.name}}</h2>
				<h3>{{product.price | currency:"$"}}</h3>
				<fieldset class="border-top">
					<h4><small>COLOR: {{orderColor}}</small></h4>
					<ul class="list-unstyled list-inline">
						<li class="product-color" ng-repeat="metric in availableColors" ng-class="{selected: $index == selectedColorIndex}">
							<label class="radio-inline" for="color-{{metric.colorhex}}-{{$index}}" ng-style="{'background-color': '#' + metric.colorhex}">
								<input type="radio" id="color-{{metric.colorhex}}-{{$index}}" name="color" ng-model="$parent.orderColor" ng-click="selectColor($index)" ng-value="metric.colorname" class="ng-hide">
							</label>
						</li>
					</ul>
				</fieldset>
				<fieldset class="border-top">
					<h4>
						<small>SIZE: {{orderSize}}</small>
						<small class="text-danger" ng-show="form.size.$error.required && form.$submitted">
							Please select a size
						</small>
					</h4>
					<ul class="list-unstyled list-inline">
						<li class="product-size" ng-repeat="size in allSizes" ng-class="{selected: $index == selectedSizeIndex, unavailable: hasSize(size)}">
							<label class="radio-inline text-center" for="size-{{size}}-{{$index}}">{{size}}
								<input type="radio" id="size-{{size}}-{{$index}}" name="size" ng-disabled="hasSize(size)" ng-model="$parent.orderSize" ng-click="selectSize($index)" ng-value="size"class="ng-hide" required>
							</label>
						</li>
					</ul>
				</fieldset>

				<fieldset class="form-inline border-top">
				  	<div class="form-group">
				    	<h4><small>QUANTITY: </small></h4>
				  	</div>
				  	<div class="form-group">
				    	<label for="quantity" class="sr-only"></label>
						<select class="form-control" id="quantity" ng-model="orderQuantity">
							<option ng-repeat="count in availableQuantity">{{count}}</option>
						</select>
				  	</div>
				</fieldset>

				<button class="btn btn-primary form-control" type="submit">ADD TO CART</button>

				<h4>DESCRIPTION</h4>
				<p><small>{{product.description}}</small></p>

				<h4>MATERIALS</h4>
				<ul class="list-unstyled">
					<li ng-repeat="material in product.materials"><small>- {{material}}</small></li>
				</ul>

			</form>
			

		</div>
	</div>
</div>

<div ng-include="'components/footer/footer.html'"></div>