
<div class="container">
	<h3>ADD NEW ITEM</h3>
	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<h6 class="pull-right">
				<small>* REQUIRED FIELD</small>
			</h6>
			<form class="form" name="form" novalidate ng-submit="form.$valid && addItem(form)">

				<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
					'has-error': form.name.$invalid && submitted }">
					<label>Name</label>
					<input type="text" name="name" class="form-control" ng-model="item.name" required placeholder="ITEM NAME *"/>
					<p class="help-block" ng-show="form.name.$error.required && form.$submitted">
						An item name is required
					</p>
				</div>

				<div class="form-group" ng-class="{ 'has-success': form.price.$valid && submitted,
					'has-error': form.price.$invalid && submitted }">
					<label>Price</label>
					<input type="text" name="price" class="form-control" ng-model="item.price" required placeholder="ITEM PRICE *"/>
					<p class="help-block" ng-show="form.price.$error.required && form.$submitted">
						An item price is required
					</p>
				</div>

				<div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted,
					'has-error': form.description.$invalid && submitted }">
					<label>Description</label>
					<input type="text" name="description" class="form-control" ng-model="item.description" required placeholder="ITEM DESCRIPTION *"/>
					<p class="help-block" ng-show="form.description.$error.required && form.$submitted">
						An item description is required
					</p>
				</div>

				<div class="form-group">
					<label class="radio-inline">
					  <input type="radio" name="gender" id="Male" value="Male"> Male
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="Female" value="Female"> Female
					</label>
					<label class="radio-inline">
					  <input type="radio" name="gender" id="None" value="None"> None
					</label>
				</div>

				<div>
					<button class="btn btn-primary" type="submit">SUBMIT</button>
				</div>
			</form>

		</div>
	</div>
</div>
