<div class="modal-header">
	<h3 class="modal-title">{{mode}} an Item</h3>
</div>

<form class="form" name="form" novalidate ng-submit="form.$valid && submit()">

	<div class="modal-body">
		<h6 class="pull-right">
			<small>* REQUIRED FIELD</small>
		</h6>
		<div class="form-group" ng-class="{ 'has-success': form.name.$valid && submitted,
			'has-error': form.name.$invalid && submitted }">
			<label for="name">Name *</label>
			<small class="text-danger" ng-show="form.name.$error.required && form.$submitted">
				Item name is required
			</small>
			<input type="text" id="name" name="name" class="form-control" ng-model="item.name" required placeholder="ITEM NAME *"/>
		</div>

		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="form-group" ng-class="{ 'has-success': form.price.$valid && submitted, 'has-error': form.price.$invalid && submitted }">
					<label for="price">Price *</label>
					<small class="text-danger" ng-show="form.price.$error.required && form.$submitted">
						Item price is required
					</small>
					<input type="number" id="price" name="price" class="form-control" ng-model="item.price" required placeholder="ITEM PRICE *"/>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="form-group" ng-class="{ 'has-success': form.basecost.$valid && submitted,'has-error': form.basecost.$invalid && submitted }">
					<label for="basecost">Base Cost *</label>
					<small class="text-danger" ng-show="form.basecost.$error.required && form.$submitted">
						Item base price is required
					</small>
					<input type="number" id="basecost" name="basecost" class="form-control" ng-model="item.basecost" required placeholder="ITEM BASE COST *"/>
				</div>
			</div>
		</div>

		<div class="form-group" ng-class="{ 'has-success': form.description.$valid && submitted, 'has-error': form.description.$invalid && submitted }">
			<label for="description">Description *</label>
			<small class="text-danger" ng-show="form.description.$error.required && form.$submitted">
				Item description is required
			</small>
			<textarea id="description" rows="5" name="description" class="form-control" ng-model="item.description" required placeholder="ITEM DESCRIPTION *">
			</textarea>
		</div>

		<div class="form-group">
			<label class="radio-inline">
				<input ng-model="item.gender" ng-required="!item.gender" type="radio" name="gender" id="Male" value="Male"> Male
			</label>
			<label class="radio-inline">
				<input ng-model="item.gender" ng-required="!item.gender" type="radio" name="gender" id="Female" value="Female"> Female
			</label>
			<label class="radio-inline">
				<input ng-model="item.gender" ng-required="!item.gender" type="radio" name="gender" id="None" value="None"> None
			</label>
			<small class="text-danger" ng-show="form.gender.$error.required && form.$submitted">
				Gender is required
			</small>
		</div>

		<fieldset class="form-inline">
			<legend>Categories: <small>each item should have at least one category</small></legend>

			<div class="form-group">
				<label for="categories" class="sr-only"></label>
				<select id="categories" name="categories" class="form-control" ng-options="category.name for category in categories track by category._id" ng-model="selectedCategory">
				</select>
			</div>

			<div class="form-group" ng-show="selectedCategory">
				<label for="categoryType" class="sr-only"></label> 
				<select id="categoryType" name="categoryType" class="form-control" ng-model="selectedType">
					<option ng-repeat="type in selectedCategory.types" value="{{type}}">{{type}}</option>
				</select>
				<button class="btn btn-default" type="button" ng-click="addCategory()">
					<span class="glyphicon glyphicon-plus"></span>
				</button>
			</div>

			<p ng-repeat="category in item.categories">
				<strong>{{category.name}}: </strong>
				<span ng-repeat="type in category.types">{{type}}, </span>
			</p>

		</fieldset>

 		<hr>
 		<fieldset class="form-inline">
 			<legend>Metrics: <small>each item should have at least one metric</small></legend>
 			<div ng-show="item.metrics.length > 0">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Color</th>
							<th>Size</th>
							<th>Count</th>
							<th>Remove</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="metric in item.metrics">
							<td ng-init="color = getColorById(metric.colorId)">
								<span class="color-icon" ng-style="{'background-color': '#' + color.colorhex}"></span>
								{{color.colorname}}
							</td>
							<td>{{metric.size}}</td>
							<td>{{metric.count}}</td>
							<td><button ng-click="removeMetric(metric)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="row">
				<div class="col-sm-12">
					<div class="input-group">
						<label for="itemMetricPictureURL" class="sr-only">Picture URL</label>
				      <input type="text" id="itemMetricPictureURL" name="metricURL" class="form-control" ng-model="metricURL" placeholder="URL"/>
				      <span class="input-group-btn">
				        <button ng-click="addMetricImage()" class="btn btn-default" type="button">Add Picture URL</button>
				      </span>
				    </div>
				</div>

				<div class="col-sm-12">
					<div class="row">
					<div ng-repeat="img in metric.images track by $index" class="col-sm-3">
						<img ng-src="{{img}}" class="img-responsive" alt="item image">
					</div>
				</div>
				</div>

				<div class="col-sm-12">
					<div class="form-group">
						<label for="metricColor">Color</label>
						<select id="metricColor" class="form-control" ng-model="metric.colorId">
							<option ng-repeat="color in colors" value="{{color._id}}">{{color.colorname}}</option>
						</select>
					</div>

					<div class="form-group">
						<label for="metricSize">Size</label>
						<select id="metricSize" class="form-control" ng-options="size for size in sizes" ng-model="metric.size"></select>
					</div>

					<div class="form-group">
						<label for="metricCount">Count</label>
						<input type="number" min="0" name="metricCount" class="form-control" ng-model="metric.count" placeholder="Count"/>
					</div>

					<button class="btn btn-primary" type="button" ng-click="addMetric()"><span class="glyphicon glyphicon-plus"></span></button>
				</div>
				
			</div>

			
 		</fieldset>
 		<br>
 		<fieldset class="form-inline">
 			<legend>Product Materials: </legend>
 			<ul ng-show="item.materials.length > 0" class="list-group">
 				<li ng-repeat="material in item.materials" class="list-group-item">
 					<button ng-click="removeMaterial(material)" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
 					{{material}}
 				</li>
 			</ul>
 			<div class="form-group">
				<label class="sr-only" for="materials">MATERIALS</label>
				<input type="text" id="materials" name="materials" class="form-control" ng-model="material" placeholder="ITEM MATERIALS"/>
			</div>
			<button class="btn btn-default" type="button" ng-click="addMaterial()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
 		</fieldset>
 		<br>
 		<fieldset>
 			<legend>Main Item Picture URL:</legend>
 			<label class="sr-only" for="product-image-url">MATERIALS</label>
			<input type="text" id="product-image-url" name="product-image-url" class="form-control" ng-model="item.productImage" placeholder="PRODUCT IMAGE URL"/>
			<div ng-if="item.productImage">
				<img ng-src="{{item.productImage}}" alt="Main product url" width="30%" height="30%">
			</div>
		  	
 		</fieldset>

	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="submit">{{mode}}</button>
		<button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>		
	</div>

</form>


