<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<h1>MY SHOPPING CART</h1>
	<hr>
	<div class="row">
    <div ng-repeat="c in items">
        Name: {{c.itemId.name}}
        <br>
        Description: {{c.itemId.description}}
        <br>
        Price: {{c.itemId.price}}
        <br>
        <img ng-src="{{c.itemId.productImage}}" class="img-responsive" alt="main product image"/>
        <br>
        Color: {{c.colorname}}
        <br>
        Size: {{c.size}}
        <br>
        Count: {{c.count}}     
        <br>
        <button class="btn btn-primary" type="submit" ng-click="cartDeleteOne($index)">DELETE {{$index}}</button>
        <hr>
    </div>
    <div class="col-sm-7" ng-if="items.length == 0">
        <p>There are no items in your cart</p>
    </div>
    <div class="col-sm-5">
    <p>Total: {{cartTotal}}</p>
    <button class="btn btn-primary" type="submit" ng-click="cartDeleteAll()">DELETE ALL ITEMS</button>
    <div class="col-sm-7" ng-if="items.length == 0">
        <p>There are no items in your cart</p>
    </div>
    <form action="" method="POST">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
            data-amount="{{cartTotal*100}}"
            data-name="Stripe.com"
            data-description="Checkout"
            data-image="assets/images/brand.png"
            data-locale="auto">
        </script>
    </form> 
</div>

<div ng-include="'components/footer/footer.html'"></div>
