<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h1>MY SHOPPING CART</h1>
    <div class="text-right" ng-if="items.length != 0">
        <button class="btn btn-primary" type="submit" ng-click="cartDeleteAll()">DELETE ALL ITEMS</button>
    </div>
    <hr>
        <div ng-repeat="c in items" class="ng-binding ng-scope">
            <div class="row">
                <div class="col-sm-3">
                    <img ng-src="{{c.image}}" class="img-responsive-2" alt="main product image"/> 
                </div>
                <div class="col-sm-8"> 
                    Name: {{c.itemId.name}}
                    <br>
                    Description: {{c.itemId.description}}
                    <br>
                    Price: {{c.itemId.price}}
                    <br>
                    Color: {{c.colorname}}
                    <br>
                    Size: {{c.size}}
                    <br>
                    Count: {{c.count}}     
                    <br>
                    {{c}}
                </div>
                <div class="col-sm-1">
                    <button class="btn btn-primary" style="margin-top:50%" type="submit" ng-click="cartDeleteOne($index)">X</button>
                </div>
            </div>
            <hr>
        </div>
        <div ng-if="items.length == 0" class="text-center">
            <br><br><br><br>
            <h1>There are no items in your cart</h1>
            <p> <a href="/apparel">Click Here</a> to continue shopping</p>
            <br><br><br><br>
        </div>
        <div class="text-right" ng-if="items.length != 0">
            <p>Subtotal:    {{cartTotal | currency:"$"}}</p>
            <p>Free Shipping</p>
            <br>
            <button class="btn btn-primary" type="stripe-button" ng-click="placeOrder()">Purchase</button>
        </div>
</div>

<div ng-include="'components/footer/footer.html'"></div>
